body{

font-family: Arial;
background:#f3f6fb;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;

}

.card{

background:white;
width:350px;
border-radius:20px;
box-shadow:0 15px 35px rgba(0,0,0,0.2);
padding:20px;
text-align:center;

}

.alerta{

background:#d90429;
color:white;
font-weight:bold;
padding:10px;
border-radius:10px;
margin-bottom:15px;
font-size:18px;

}

.foto{

width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
border:5px solid #eee;

}

.blood{

font-size:26px;
font-weight:bold;
color:#d90429;
margin-top:5px;

}

.info{

text-align:left;
margin-top:15px;

}

.info p{

margin:8px 0;
font-size:15px;

}

.emergency{

margin-top:15px;

}

.buttons{

display:flex;
justify-content:space-around;
margin-top:10px;

}

.call{

background:#e63946;
color:white;
padding:10px 15px;
border-radius:10px;
text-decoration:none;
font-weight:bold;

}

.location{

background:#1d3557;
color:white;
border:none;
padding:10px 15px;
border-radius:10px;
cursor:pointer;

}

.language{

margin-top:15px;

}

.language button{

padding:5px 10px;
margin:3px;
cursor:pointer;

}